.about-overlay {
    will-change: transform;
    transform: translate3d(0px, 0px, 0px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    mix-blend-mode: difference;
    pointer-events: none;
    display: none;
}

.john-1 {
    filter: invert(1);
}

.shadow-overlay {
    box-shadow: 27px 0px 36px 35px black;
}

.ellips {
    clip-path: ellipse(15% 20% at 50% 50%);
}

.middle-wrap {
    height: 400px;
    width: 400px;
}

.middle-image {
    transform: scale(1.5);
}