.g-wrap {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

.g-wrap div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.g-wrap img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.category-img-overlay-inner:nth-child(1) {
    /* display: none; */
    /* transform: translateX(-500px); */
    transition: all .3s ease-in-out;

}

.category-img-overlay-inner:nth-child(2) {
    /* display: none; */
    /* transform: translateX(-500px); */
    transition: all .3s ease-in-out;

}

.category-img-overlay:hover .category-img-overlay-inner:nth-child(1) {
    /* display: none; */
    transform: translateX(-500px);

}

.category-img-overlay:hover .category-img-overlay-inner:nth-child(2) {
    /* display: none; */
    background-color: red !important;
    transform: translateX(500px);
}