.g-wrap {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

.g-wrap div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.g-wrap img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.singleImg {
    min-height: 200px;
    max-height: 500px;
    transition: all .3s;

}

.singleImg:hover {
    transform: scale(1.2);
}

.z-large {
    z-index: 100000000000000000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.preview-img {
    width: 80vw;
    height: 95vh;
}


.category-card-img {
    transition: .3s all ease;

}

.category-card-wrap:hover .category-card-img {
    transform: scale(1.2);
}

.category-text-wrap {
    clip-path: circle(1.4% at 0% 100%);
    transition: .5s all ease;

}

.category-card-wrap:hover .category-text-wrap {
    clip-path: circle(74.7% at 34% 100%);

}