.canvas {
    position: absolute;
    left: 20%;
    right: 0%;
    width: 120%;
    will-change: transform;
    transform: translate3d(-50%, -50%, 0px) scaleX(1);
    transform-style: preserve-3d;
    height: auto;
    transition: all 1.4s ease-out;
    backface-visibility: hidden
}

@media only screen and (max-width: 600px) {
    .canvas-animation {
        animation: animateCanvas 20s ease-in 0s infinite alternate;

    }

    @keyframes animateCanvas {
        0% {
            transform: translateY(0%) translateX(-20%);

        }

        100% {
            transform: translateY(-100%) translateX(-20%);


        }
    }
}